@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    width: 100%;
    height: 100vh;
    background-color: #131417;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    height: 500px;
    width: 300px;
    border-radius: 30px;
}


.left {
    background: #d12229;
    background: linear-gradient(180deg, #d12229 0%, #d12229 37.8%, #393939 37.8%, #393939 100%);
    padding: 30px 20px;
}
.quit {
    height: 50px;
    width: 50px;
}

.left .top {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.left .top>div {
    margin: 0 5px;
}

.left .top h2,
.left .top p {
    text-align: center;
}

.left .top p {
    font-size: 13px;
    font-weight: bold;
}

.left .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.left .mid h3,
.left .mid p {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

.left .circle {
    height: 150px;
    width: 150px;
    background-color: #bfc2c7;
    border: 8px solid #393939;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .mid img {
    height: 100px;
    width: 100px;
}

.bottom-rows {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.bottom-rows p {
    font-size: 14px;
}

.bottom img {
    width: 30px;
    height: 30px;
}

.image-container {
    width: 40px;
    height: 40px;
    background-color: #d12229;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .quit {
    height: 50px;
    width: 50px;
}

.right {
    position: relative;
}

.right .top {
    width: 100%;
    height: 70%;
    position: relative;
    border-radius: 30px 30px 0 0;
}

.right .top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    background: url(resources/images/e.webp) no-repeat top center;
    filter: sepia(100) saturate(3.4) hue-rotate(316deg) brightness(0.5)contrast(1.2);
    z-index: 1;
    
}

.background-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(0deg, #d1020a  0%, #d1020a 52%, #000000 100%);
    opacity: 0.5;
    z-index: 1;
}

.background-container {
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    position: relative;
}

.right-top-container {
    top: 140px; ;
    left: 65px;
    width: 170px;
    height: 100px;

    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.right .bottom {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: #393939;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.right .bottom p {
    margin: 50px;
    color: #d12229;
}

.right .circle {
    position: absolute;
    top: 310px;
    left: 50px;
    height: 100px;
    width: 200px;
    background-color: #393939;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-container {
    border-radius: 50%;
    padding: 5px;
    height: 60px;
    width: 60px;
    background-color: #d12229;
}